/* Write your code here. */
.thumnail-list-item {
  list-style: none;
  margin-left: 10px;
  margin-right: 10px;
}
.button {
  border: none;
  cursor: pointer;
  opacity: 0.5;
}
.active-image {
  border: none;
  cursor: pointer;
  opacity: 1;
}
